.section {
    width: 100%;
    position: relative;
    display: flex;
}

.section img,
#panels img {
    max-width: none;
}

.text-outer {
    transition: all 0.1s ease;
}

/* s4 */
#s4 .img-outer {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
}

#s4 .img-outer img {
    width: auto;
    height: 103.54%;
    z-index: 0;
    margin: 0 auto;
    opacity: 0.5;
    position: absolute;
    top: 8%;
    left: -40%;
}

#s4 .text-outer {
    width: 100%;
    height: 100vh;
    padding: 20% 15% 0 15%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}

#s4 .text-outer>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#s4 .text-outer ul li {
    margin-top: 0.6em;
}


/* s5 */
#s5 {
    height: 100vh;
}

#s5 .img-outer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

#s5 .img-outer img {
    height: 53.42%;
    width: auto;
    z-index: 0;
    position: absolute;
    bottom: 0;
    left: -30%;
}

#s5 .text-outer {
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20% 15% 0 15%;
}

#s5 .text-outer>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#s5 .text-outer ul li {
    margin-top: 0.6em;
}

/* #panels */
#panels #panels-container .panel {
    position: relative;
    width: 100vw;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* #panel_5 */
#panel_5 {
    height: 50vh;
}

#panel_5 img {
    height: 80%;
    width: 100%;
    object-fit: contain;
    object-position: center bottom;
    z-index: 0;
}

#panel_5 .text-outer {
    position: absolute;
    left: 5vw;
    top: 8vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* #panel_6 */
#panel_6 {
    height: 50vh;
}

#panel_6 img {
    height: 80%;
    width: 100%;
    object-fit: contain;
    object-position: bottom;
    z-index: 0;
}

#panel_6 .text-outer {
    position: absolute;
    left: 5vw;
    top: 8vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* #panel_7 */
#panel_7 {
    height: 100vh;
}

#panel_7 img {
    height: 79.44%;
    width: auto;
    position: absolute;
    top: 10%;
    left: -70%;
    z-index: 0;
}

#panel_7 .text-outer {
    position: absolute;
    left: 5vw;
    top: 30vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}