.section {
    width: 100%;
    position: relative;
    display: flex;
}

.section img,
#panels img {
    max-width: none;
}

#s11 {
    width: 100%;
    position: relative;
    display: flex;
}

.img-outer {
    overflow: hidden;
    position: relative;
}

.img-outer img {
    position: absolute;
}

.text-outer {
    transition: all 0.1s ease;
}

#cover {
    width: 100%;
    height: 100svh;
    justify-content: center;
    align-items: center;
    position: relative;
}

#cover_img {
    width: 80%;
    transition: all 0.1s ease;
}

/* s1 */
#s1 .img-outer {
    width: 100%;
    height: 100vh;
}

#s1 img {
    height: 178.58%;
    width: auto;
    left: -87.4%;
    top: 0;
}

#s1 .text-outer {
    position: absolute;
    right: 6.06%;
    top: 14.05%;
}

#s1 .text-outer p {
    margin-top: 10%;
}

/* s2 */
#s2 .img-outer {
    width: 100%;
    height: 100vh;
}

#s2 .img-outer img {
    height: 82.2%;
    bottom: -1.12%;
    left: -71.73%;
    z-index: 0;
}

#s2 .text-outer {
    position: absolute;
    left: 10%;
    top: 5.63%;
    z-index: 1;
}

#s2 .text-outer>ul>li {
    margin-top: 10%;
    line-height: 200%;
}

#s2 .text-outer>ul>li::before {
    content: '•';
}

/* s3 */
#s3 .img-outer {
    width: 100%;
    height: 100vh;
}

#s3 .img-outer img {
    height: 100%;
    left: -70.11%;
    z-index: 0;
}

#s3 .text-outer {
    position: absolute;
    left: 6.56%;
    top: 12.59%;
    z-index: 1;
}

#s3 .text-outer>ul>li {
    margin-top: 25%;
    line-height: 150%;
}

#s3 .text-outer>ul>li::before {
    content: '•';
}

/* #panels */
#panels #panels-container .panel {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* #panel_1 */
#panel_1 img {
    position: absolute;
    top: 29.22%;
    left: -45.15%;
    height: 53.840%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
}

#panel_1 .text-outer {
    padding: 14.16vh 5.68vw;
    z-index: 1;
}

/* #panel_2 */
#panel_2 img {
    position: absolute;
    top: -13.07%;
    left: -164%;
    height: 122.22%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
}

#panel_2 .text-outer {
    position: absolute;
    left: 10vw;
    bottom: 7vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* #panel_3 */
#panel_3 img {
    position: absolute;
    top: 19.63%;
    height: 67.66%;
    width: 100%;
    object-fit: cover;
    object-position: center bottom;
    z-index: 0;
}

#panel_3 .text-outer {
    position: absolute;
    left: 7.77vw;
    top: 16.66vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* #panel_4 */
#panel_4 img {
    position: absolute;
    top: -15%;
    left: -90%;
    height: 130.47%;
    object-fit: cover;
    z-index: 0;
}

#panel_4 .text-outer {
    position: absolute;
    right: 8.32vw;
    top: 72.77vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
}

/* s6 */
#s6 {
    height: 50vh;
}

#s6 .img-outer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#s6 .img-outer img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center bottom;
    z-index: 0;
}

#s6 .text-outer {
    position: absolute;
    top: 23.35%;
    right: 0;
    width: 46.12%;
}

#s6 .text-outer>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/* s7 */
#s7 {
    height: 100vh;
}

#s7 .img-outer {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#s7 .img-outer img {
    height: 107%;
    width: 107%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
    position: absolute;
    top: -3%;
    right: 3%;
    opacity: 0.5;
}

#s7 .text-outer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

#s7 .text-outer>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 20% center;
    margin: 0 auto;
}

#s7 .text-outer>div {
    width: 63.43%;
    position: absolute;
    left: 0;
    top: 60%;
}

#s7 .text-outer>div>img {
    width: 90%;
    margin-left: 1vw;
    margin-top: 5vh;
    z-index: 0;
}

/* s8 */
#s8 {
    height: 50vh;
}

#s8 .img-outer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#s8 .img-outer img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: bottom;
    z-index: 0;
}

#s8 .text-outer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 63.11%;
    padding-bottom: 5vh;
}

#s8 .text-outer>div {
    display: flex;
}

/* s9 */
#s9 {
    height: 50vh;
}

#s9 .img-outer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#s9 .img-outer img {
    height: 140%;
    position: absolute;
    bottom: -8%;
    left: -60.88%;
    z-index: 0;
}

#s9 .text-outer {
    position: absolute;
    bottom: 5%;
    left: 5.25%;
    width: 63.11%;
}

#s9 .text-outer>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 1rem;
}

/* s10 */
#s10 {
    height: 50vh;
}

#s10 .img-outer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#s10 .img-outer img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: top;
    z-index: 0;
}

#s10 .text-outer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45.56%;
    padding: 0 0 22% 0;
}

#s10 .text-outer>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 1em;
}

/* s11 */
#s11 .img-outer {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#s11 .img-outer img {
    position: absolute;
    bottom: 0;
    left: -20%;
    height: 103.83%;
    z-index: 0;
}

#s11 .text-outer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 51.48%;
    padding: 0 0 8vh 0;
}

/* s12 */
#s12 .img-outer {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#s12 .img-outer img {
    height: 137.68%;
    position: absolute;
    left: -185%;
    bottom: -15%;
    z-index: 0;
    opacity: 0.4;
}

#s12 .text-outer {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}