#content {
    width: calc(100vw - 40px);
    max-width: 600px;
    margin: 0 auto;
}

.li {

    background-color: #1d1d1d;
    margin: 2vh auto;
}

.li>div {
    max-height: 20vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.li>div>img {
    width: 100%;
}

.li>.content_text {
    padding: 30px;
    width: auto;
    position: relative;
    color: #fff;
    display: block;
}

.li>.content_text>h4 {
    width: 100%;
}

.li .content_bar {
    width: 40px;
    height: 1px;
    background-color: #eb5604;
}