#content {
    display: block;
}

.contact-logo {
    height: 13vw;
    width: 13vw;
}

.social-link:nth-child(odd) {
    flex-direction: row;
}

.social-link:nth-child(even) {
    flex-direction: row-reverse;
}

.social-link>span {
    background-color: transparent;
    color: #fff;
    box-shadow: none;
    padding: 0;
    transform: none;
}

.social-link>span::before {
    display: none;
}