.footer-inner {
    display: block;
}

.footer-inner-left,
.footer-inner-right {
    width: 100%;
}

.footer-logo {
    width: 30vw;
    height: auto;
}

.footer-block-media,
.footer-block-link {
    display: block;
}

.footer-block-link a {
    display: flex;
}

.footer-block-link {
    padding-top: 36px;
    padding-bottom: 36px;
    margin-bottom: 3vh;
}