#s1 img {
    object-position: center calc(-4 * (100vh - 1080px));
}

#s2 .img-outer img {
    top: -60%;
}

#s9 .img-outer img {
    right: 0;
}

#s10 .img-outer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
}

#s12 .img-outer img {
    top: -80%;
}