#p3 {
    display: block;
    padding-bottom: 12rem;
}

#p3>div {
    width: 86vw;
}

#p3>*:not(#logo-video) {
    z-index: 48;
    position: relative;
}

#logo-video {
    position: -webkit-sticky;
    position: sticky;
    top: calc(50vh - 90vw);
    width: 100%;
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6);
    z-index: 47;
}

#p4>h6 {
    width: 86vw;
}

#p4>.li {
    width: 100%;
}

#p4 .anchor.event>div {
    background-image: url('../media/li/2.webp');
}

#p4 .anchor.blog>div {
    background-image: url('../media/li/1.webp');
}