:root {
    --main-color: #242424;
    --second-color: #eb5604;
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
}

* {
    cursor: none;
}

.anchor {
    line-height: 16px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

body::-webkit-scrollbar {
    display: none;
}