.li>div {
    width: 84vw;
    height: 18vh;
    /* overflow: hidden; */
    background-position: center;
    line-height: 20vh;
    font-size: 25px;
    font-weight: 700;
    padding: 0 8vw;
    background-size: 100% auto;

    position: relative; 
    left: -100vw;
    transition: left 1s ease 0s;
}

.li>div>div {
    mix-blend-mode: difference;
}
