.anchor {
    margin: 0;
}

#events {
    width: 600px;
    margin: 0 auto;
}

#events>div {
    margin: 3vh auto;
}

@media only screen and (max-width: 480px) {
    #events {
        width: 100vw;
    }

    #events>div {
        margin: 0;
    }
}