.outer {
    min-height: 80vh;
}

.main {
    width: 100vw;
    max-width: 600px;
    height: 40vh;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.hr {
    border-color: #a8a8a8;
}

.main-text {
    display: inline-block;
    width: 80%;
    z-index: 1;
}

.blog-date,
.blog-title {
    margin: 1vh 0;
}

.blog-date {
    color: gray;
}

.main-img {
    width: 100%;
    height: 40vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.main-img>img {
    filter: brightness(0.8);
    -webkit-transition: all 0.1s ease 0s;
    transition: all 0.1s ease 0s;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.content {
    width: 80vw;
    max-width: 600px;
    padding: 2vh 0;
    margin: 0 auto;
    color: #fff;
    font-size: 15px;
    line-height: 28px;
    white-space: pre-line;
}

.content img {
    width: 100%;
}

.content>* {
    width: 100%;
    margin: 5vh 0;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.5s ease 0s, transform 1.5s ease 0s;
}

.content>*.show {
    opacity: 1;
    transform: translateY(0);
}