@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* --primary */
    /* --secondary */
    /* --tertiary */
    /* --quaternary */
    /* --quinary */
    /* --senary */
    /* --septenary */
    /* --octonary */
    /* --nonary */
    /* --denary */
    --primary-color: #eb5604;
}

body,
html {
    margin: 0;
    padding: 0;
}

* {
    cursor: none;
}

*::-webkit-scrollbar {
    display: none;
}

.edit a:not(.btn),
.anchor--primary {
    color: var(--primary-color);
    text-decoration: underline ;
}

.edit img {
    max-width: 100%;
}