.cover__titleZh {
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    letter-spacing: 1rem;
}

.cover__round {
    animation: autoScroll var(--during) infinite linear;
}

@keyframes autoScroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.projects {
    background: var(--main-color);
    background: linear-gradient(0deg, var(--main-color) 30%, var(--background-color) 100%);
}