.cover {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    overflow: hidden;
    color: var(--primary-color);
    position: relative;
    z-index: 0;
}

.cover h2 {
    position: absolute;
    left: 10vw;
    width: 80vw;
    font-size: 5rem;
    z-index: 1;
    margin: 0;
}

.cover h2:first-child {
    top: 15vh;
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    letter-spacing: 1rem;
}

.cover h2:last-child {
    bottom: 15vh;
    text-align: end;
}

.cover .round {
    white-space: nowrap;
    animation: autoScroll var(--during) infinite linear;
}

.cover img {
    width: 20vw;
    margin: 0 3vw;
}

@keyframes autoScroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.intro {
    width: 100vw;
    margin: 8rem auto 0 auto;
    color: #fff;
    padding-bottom: 8rem;
    line-height: 4em;
    text-align: center;
}

.performance-project {
    width: 100vw;
    margin: 8rem auto 0 auto;
    background: var(--main-color);
    background: linear-gradient(0deg, var(--main-color) 30%, var(--background-color) 100%);
    color: #fff;
    padding-bottom: 8rem;
}

.anchor {
    display: flex;
    color: #fff;
    text-decoration: none;
    padding: 20px;
}

.about-section .anchor {
    font-weight: 900;
    justify-content: center;
    letter-spacing: 0.15rem;
    padding: 1.4rem 2.4rem;
    margin-top: 12rem;
    margin-bottom: 0;
}

.content-title {
    font-size: 1.8rem;
    letter-spacing: 3px;
}

.performance-project .imgs {
    display: flex;
    justify-content: space-between;
}

.performance-project .imgs .img {
    width: 500px;
    position: relative;
    margin-bottom: 80px;
    display: block;
}

.performance-project .imgs .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.performance-project .imgs .img div {
    mix-blend-mode: difference;
    text-align: end;
    position: absolute;
    bottom: 3%;
    left: 5%;
    width: 90%;
    font-size: 150%;
    font-weight: 900;
}

.performance-project>div>* {
    margin-bottom: 80px;
}

.about-section {
    width: 100%;
    background-color: #000;
    color: #fff;
}

.about-section .container {
    display: flex;
    justify-content: space-between;
}

.about-section .container>div {
    width: calc(90% - 600px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.logo-video {
    width: 50%;
    max-width: 600px;
}

.about-section .content-title {
    /* width: 86vw; */
    color: var(--primary-color);
    font-weight: 900;
    margin: 2vh 0;
}

.about-section p {
    width: 100%;
    line-height: 250%;
}

.more-section {
    color: #fff;
    padding: 8rem 0;
    width: 100%;
}

.more-section .content-title {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.more-section .anchor {
    position: relative;
    margin: 5vh auto;
    width: 100%;
    height: 18vh;
    line-height: 20vh;
    font-size: 1.2rem;
    font-weight: 700;
}

.more-section .anchor>div {
    display: inline-block;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 8vw;
}

.more-section .anchor img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 0;
}

@media only screen and (max-width: 992px) {
    .about-section .container>div {
        width: 50%;
        margin-left: 5%;
    }
}

@media only screen and (max-width: 480px) {
    .cover img {
        width: 50vw;
    }

    .performance-project .imgs {
        flex-direction: column;
    }

    .performance-project .imgs .img {
        width: 100%;
    }

    .about-section {
        display: block;
        padding-bottom: 12rem;
    }

    .about-section>div {
        width: 86vw;
    }

    .about-section .container {
        flex-direction: column;
    }

    .logo-video {
        position: -webkit-sticky;
        position: sticky;
        top: calc(50vh - 90vw);
        width: 100%;
        filter: brightness(0.6);
        -webkit-filter: brightness(0.6);
        z-index: 47;
    }

    .about-section .container>div {
        width: 100%;
        z-index: 48;
        position: relative;
    }

    .more-section>h6 {
        width: 86vw;
    }

    .more-section>.li {
        width: 100%;
    }
}