.outer {
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
}

.content {
    height: 100%;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px) opacity(.4);
    -webkit-filter: blur(4px) opacity(.4);
}

.content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inner {
    overflow-y: auto;
    color: #fff;
    position: absolute;
    bottom: 5vh;
}

.inner::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: var(--main-color);
    border-radius: 5px;
}

.inner::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 5px;
}

.detail>div>a {
    color: #fff;
    text-decoration: none;
}

.detail img {
    margin-right: 5px;
}

.inner .hr {
    border-color: rgb(148, 148, 148);
    margin: 2vh auto;
}

.text {
    color: #fff;
    /* width: 86vw;
    margin: 8vh auto;
    line-height: 180%;
    white-space: pre-line; */
}

.date {
    color: gray;
}